@charset "utf-8";

////GENERAL

//variables
@import "helpers/variables";

//mixins
@import "helpers/mixins";

//css reset
@import "base/reset";

//typography
@import "base/typography";


/////COMPONENTS

//nav
@import"components/nav";

//social
@import "components/social";


////LAYOUT


//header
@import "layout/header";

//content
@import "layout/content";

//footer
@import "layout/footer";


//EXTENDS
@import "base/extends";