//VARIABLES

//typography
$main-section-item__font-size: 1em;
//color
$main-section-item__border-color:#cecccc;
//STYLES
.main-section{
    margin-top: 3em; 
    
    &__skillset{
        margin-top: 2em;
    }
    &__item{
        line-height: 3;
        border-bottom: 0.1em solid $main-section-item__border-color;
        width:80%;
        font-size: $main-section-item__font-size;
        font-family: $secondary__font-family;
    }
    &__graphics{
        position: relative;
        margin-top: 10%;        
        
        &::after{
            position: absolute;
            top: -8%;
            left:-11%;
            content: url(../img/cross.svg);
            z-index: -1;
            width: 30%;
        }
    }    
}
.img{
     max-width:100%;
}
.link{
    width: max-content;
    width: -moz-max-content;
    font-size: 0.8em;//15px//
    color: $secondary__text-color;
    text-decoration: none;    
    display: block;
    padding-top: 1.2em;
    
    &::after{        
    content: '';
    width:0;
    height:  0.0625em;
    display: block;
    background: #F04D23;
    @extend %transitionAll;        
    }
    &:hover::after{
    width: 100%;
    }
}
.projects__heading{   
    color:$secondary__text-color;
    margin-top: 1em;
}
.contact{
    text-align: center;

    &__heading{
        font-size: 4em; //100px//    
        position: relative;
        margin: 0.2em 0;
        line-height: 0.9;
        @media screen and (max-width: $media-medium-size){
          font-size: 4em;  
        }

        &::after{
        width:100%;
        content:url(../img/line.svg);
        position:absolute;
        bottom:-0.5em;
        left: 0;
        z-index: -1;
        }
}
    &__text{
        font-size: 1em;
        margin: 2em 0 5em 0;          
    }
}

