//NAV VARIABLES

//typography
$nav-link__font-size: 0.8em;  

//colors
$nav-link__text-color:#000;


//STYLES
.nav{
    position:absolute;    
    top:0;
    margin-bottom: 2em;
    
    
    &__item{
        display: inline-block;
        padding:1em;
}
    &__link{
        font-size: $nav-link__font-size;
        color: $nav-link__text-color;   
    }    
}

