//TYPOGRAPHY VARIABLES//

$base__font-family:'Space Mono', monospace;

// Font-Size
$base-font-size: 1em;
$base-line-height: 1.5;

$secondary__font-family:'Radley', serif;

$heading__font-size--x-large: 8em; 
$heading__font-size--large: 2em; //40px//
$heading__font-size--medium: 1.2em; //24px//

$base__text-color: #000;
$secondary__text-color:#F04D23;
    

//TYPOGRAPHY STYLES//

body{
    font-family: $base__font-family;
    font-size: $base-font-size;
    
    @media #{$mq-medium} {
        font-size: $base-font-size*1.1;
        line-height: $base-line-height*1.1;
      }

      @media #{$mq-large} {
        font-size: $base-font-size*1.2;
      }

      @media #{$mq-xlarge} {
        font-size: $base-font-size*1.4;
      }

      @media #{$mq-xxlarge} {
        font-size: $base-font-size*1.6;
      }
}


.heading{
    font-family: $secondary__font-family;
    &--x-large{
        font-size: $heading__font-size--x-large;
        line-height: 0.7; 
        @media #{$information-small-media}{
            font-size: 5em;
        }
    }
    &--large{
        font-size: $heading__font-size--large;
        line-height: 1.2;
        margin-bottom: 1em;
    }
    &--medium{
        font-size: $heading__font-size--medium;
        
    }
}
.text{
    font-size: 0.85em;//14px//
    
    &--underline{
       text-decoration: underline; 
    }
}

.sign{
    color: $secondary__text-color;    
}